.projects {
margin-top:64px;
}

.project:hover img {
  
  bottom: 0;
}


.project-image {
	position:relative;
	overflow: hidden;
	height: 330px;
	padding:30px;
	

}

.project-image img {
	transition: bottom 0.3s ease;
	text-align:center;
	position: absolute;
	bottom: -100px;
	width: 300px;
}

.project-title h2 {
	font-size: 105%;

}